<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683132104931-igh3du2ti48f0q3rqv7cj271omri368l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683132104931-igh3du2ti48f0q3rqv7cj271omri368l</string>
	<key>API_KEY</key>
	<string>AIzaSyCjXKyPot9rZ681IMStOGf3_XNF_YPuKVY</string>
	<key>GCM_SENDER_ID</key>
	<string>683132104931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-20a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-20a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683132104931:ios:59367bf1ff76470af615d6</string>
</dict>
</plist>